extends layout

block content
  //p #{tickets}
  ul
    each ticket, index in tickets
      li
        p
          a(href="/detail/" + ticket.id)
            h3 #{ticket.id}. #{ticket.subject}

  // Navigation
  h4 Other pages
  ul
    - for (var i=1; i<= number_pages; i++)
        li
          a(href="/"+ i) #{i}
